.signin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imageContainer {
  position: relative;
  background-size: 454px 618px;
  width: 454px;
  height: 618px;
}

.logo {
  font-weight: 300;
  font-family: "Grand Hotel", cursive;
  font-size: 3rem;
  margin-bottom: 24px;
}

.imageDisplay {
  position: absolute;
  left: 150px;
  top: 100px;
  height: 427px;
  width: 240px;
}

.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 32px;
}

.first,
.second,
.third {
  width: 350px;
  margin: 10px auto;
  background-color: #fff;
  text-align: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  padding: 10px 10px;
}

.third {
  border: none;
}

.firstContainer {
  margin: 20px;
}

.facebookLogin > div {
  color: #385185;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.facebookLogin > div > img {
  width: 16px;
  height: 16px;
}

.facebookLogin > a {
  font-size: 12px;
}

.second > p > a {
  color: #0095f6 !important;
  font-weight: bold;
}

.third > div > a > img {
  height: 40px;
  width: 136px;
  margin: 10px 5px;
}

.errors {
  color: rgb(237, 73, 86);
}

.help {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: #edf7ed;
  padding: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

@media only screen and (max-width: 875px) {
  .imageContainer {
    display: none;
  }
} ;
