.lineGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
}
.text {
  color: #9e9e9e;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
