.first {
  width: 350px;
  margin: 10px auto;
  background-color: #fff;
  text-align: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  padding: 10px 0 0 0;
}
.reset_container {
  padding: 40px;
}
.lock {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 40%;
  padding: 20px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
}

.message {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
}

.link {
  color: #262626;
  font-weight: 600;
}

.login_container {
  border: 1px solid rgb(219, 219, 219);
  border-left: none;
  border-right: none;
  padding: 10px;
  margin-top: 30px;
}

.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 32px;
}

.backToLogin {
  color: #262626;
  font-weight: 600;
}
