.deleteModal {
  position: absolute;
  width: 400px;
  /* max-width: 1000px;
  min-width: 200px; */
  /* height: 100px; */
  /* min-height: 400px;
  max-height: 600px; */
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 12px;
  box-shadow: 10px #efefef;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.button {
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 4px 0;
  line-height: 1.5rem;
  color: #262626;
  cursor: pointer;
}

.special-style {
  font-weight: 700;
  color: #ed4956;
}

.border-b {
  border-bottom: 1px solid #dbdbdb;
}
